.game {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 215px;
  border: 3.5px solid gold;
  margin: 2px;
  border-radius: 5%;
  padding: 1px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 2px 2px #000;
  font-size: 14px;
}

.home {
  display: flex;
}

.away {
  display: flex;
}

.details {
  align-self: center;
  margin: 5px;
}

img {
  padding: 0;
  height: 50px;
  align-self: center;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}
