body {
  background-image: url('../images/background.jpg');
  background-size: auto;
}

h1 {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  height: 5vh;
}

.player-container {
  height: 95vh;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.3);
}
