body {
  background-image: url('../images/background.jpg');
  background-size: auto;
  background-attachment: fixed;
}

h1 {
  margin: 0;
  font-size: 45px;
}

p {
  margin: 0;
  font-size: 30px;
}

.header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.player-container {
  height: 95vh;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;
}
