.players-list {
  display: flex;
}

.afc-players-list {
  display: flex;
  flex-direction:column;
  flex-flow: wrap;
  justify-content: space-between;
  width: 40vw;
  background-image: url('../images/afc.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: red;
}


.nfc-players-list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  width: 40vw;
  background-image: url('../images/nfc.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: navy;
}


.superbowl {
  width: 20vw;
  background-image: url('../images/superbowl.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  backface-visibility: visible;
}
